### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat
# Newgrounds IO Stuff
source/NGio.hx
source/io/
# Misc
Preloader.hx

### Crash Stuff
crash-dialog/
build-crash-dialog.bat
build-crash-dialog-linux.sh
build-crash-dialog-mac.sh

### FNF-Bot
FNFBot.exe

### GameJolt-Specific
source/GJKeys.hx
source/GameJolt.hx

### Source Stuff
source_test/
sourceUnstable/
source - Copy/
source_old/
source_backup/
newSource/

### Android-Specific
source/SUtil.hx
source/android/
assets/android/
assets/images/androidcontrols/
art/setupFiles/android/build_android.bat
art/setupFiles/android/build_android-debug.bat
art/dependencyFiles/android/

### Appveyor-Specific
appveyor.yml
appveyor-win32.yml

### Markdown Files
BUILDING.md
ModCharts.md
beta.md

### Git-Specific
.gitmodules
.gitconfig

### Stage Editor-Related
assets/images/stageborder.png
source/editors/StageEditorState.hx
source/LayerFile.hx

### Miscellaneous
.github/PULL_REQUEST_TEMPLATE/
.circleci/
ndll/
Week7Assets/
dump/
git/
documentaton/
open cmd.bat
open wsl.bat
builddocs.bat
wintestdebug.bat
daversion
version.Awesome
gameVersion.txt
PlayState - Copy.hx

### Add these regardless of them getting ignored.
!TempFiles/
!modchartexample.mc
!appveyor-linux.yml
!appveyor-macos.yml
!appveyor-windows.yml
!azure-pipelines.yml
!VERSION
!*.hxml
!*.hxproj

### VS Code
export/*
.vscode/*
.DS_Store
.vscode/.temp
# Local history which shouldn't be shared.
desktop.ini
.history/
.ionide
# ! means a file should be added regardless of it getting ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.code-workspace
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/*
